<!doctype html>
<html lang="en">
{% capture canonical %}
{% assign url = page.url | remove: '2019/' %}

{% assign url = url | remove: '08/' %}
{% assign url = url | remove: '09/' %}

{% assign url = url | remove: '01/' %}
{% assign url = url | remove: '05/' %}
{% assign url = url | remove: '06/' %}
{% assign url = url | remove: '07/' %}
{% assign url = url | remove: '08/' %}
{% assign url = url | remove: '09/' %}
{% assign url = url | remove: '10/' %}
{% assign url = url | remove: '14/' %}
{% assign url = url | remove: '15/' %}
{% assign url = url | remove: '16/' %}
{% assign url = url | remove: '19/' %}
{% assign url = url | remove: '20/' %}
{% assign url = url | remove: '24/' %}
{% assign url = url | remove: '25/' %}
{% assign url = url | remove: '27/' %}
{% assign url = url | remove: '29/' %}
{% assign url = url | remove: '30/' %}

{% assign url = url | remove: '/' %}

<link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/{{ url }}" />

{% endcapture %}
<head>
    {{ page.url }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.title }}">
    <meta name="author" content="Mirakmal Sulton">

    {% if page.url == /2019/08/05/javascript-add-class.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/01/javascript-add-class.html />
        {% endif %}
{% if page.url == /2019/08/06/ispmgr-restart.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/01/linux-centos-install-7zip.html />
    {% endif %}
    {% if page.url == /2019/08/06/linux-centos-install-7zip.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/01/linux-chmod-command.html />
        {% endif %}
{% if page.url == /2019/08/06/linux-chmod-command.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/ispmgr-restart.html />
    {% endif %}
    {% if page.url == /2019/08/06/linux-if-dir-not-exists-create.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-if-dir-not-exists-create.html />
        {% endif %}
{% if page.url == /2019/08/06/linux-ls-hidden-files.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-ls-hidden-files.html />
    {% endif %}
    {% if page.url == /2019/08/06/mysql-get-count.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/mysql-get-count.html />
        {% endif %}
{% if page.url == /2019/08/07/javascript-add-style.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/javascript-add-style.html />
    {% endif %}
    {% if page.url == /2019/08/07/linux-copy-folders-with-files.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-copy-folders-with-files.html />
        {% endif %}
{% if page.url == /2019/08/07/linux-create-dir-with-permissions.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-create-dir-with-permissions.html />
    {% endif %}
    {% if page.url == /2019/08/07/linux-find-a-file.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-find-a-file.html />
        {% endif %}
{% if page.url == /2019/08/07/linux-zip-folder.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-zip-folder.html />
    {% endif %}
    {% if page.url == /2019/08/07/mysql-dump-database.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/mysql-dump-database.html />
        {% endif %}
{% if page.url == /2019/08/07/php-header-utf8.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-header-utf8.html />
    {% endif %}
    {% if page.url == /2019/08/07/yii2-disable-html-encode-example.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-disable-html-encode-example.html />
        {% endif %}
{% if page.url == /2019/08/07/yii2-form-validation-rules-length.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-form-validation-rules-length.html />
    {% endif %}
    {% if page.url == /2019/08/07/yii2-hidden-input-value.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-hidden-input-value.html />
        {% endif %}
{% if page.url == /2019/08/07/yii2-render-image.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-render-image.html />
    {% endif %}
    {% if page.url == /2019/08/07/yii2-submit-button-confirm.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-submit-button-confirm.html />
        {% endif %}
{% if page.url == /2019/08/08/javascript-get-data-attribute.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/javascript-get-data-attribute.html />
    {% endif %}
    {% if page.url == /2019/08/08/linux-check-if-dir-exists.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-check-if-dir-exists.html />
        {% endif %}
{% if page.url == /2019/08/08/linux-move-directory.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-move-directory.html />
    {% endif %}
    {% if page.url == /2019/08/08/linux-recursively-create-directory.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-recursively-create-directory.html />
        {% endif %}
{% if page.url == /2019/08/08/mysql-show-users.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/mysql-show-users.html />
    {% endif %}
    {% if page.url == /2019/08/08/php-recursive-directory-delete.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-recursive-directory-delete.html />
        {% endif %}
{% if page.url == /2019/08/08/php-script-exec-time.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-script-exec-time.html />
    {% endif %}
    {% if page.url == /2019/08/08/yii2-activerecord-tablename.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-activerecord-tablename.html />
        {% endif %}
{% if page.url == /2019/08/08/yii2-navbar-dropdown.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-navbar-dropdown.html />
    {% endif %}
    {% if page.url == /2019/08/08/yii2-update-query.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-update-query.html />
        {% endif %}
{% if page.url == /2019/08/09/linux-find-installed-packages-grep.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-find-installed-packages-grep.html />
    {% endif %}
    {% if page.url == /2019/08/09/linux-recursive-delete-dir.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-recursive-delete-dir.html />
        {% endif %}
{% if page.url == /2019/08/09/mysql-drop-database.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/mysql-drop-database.html />
    {% endif %}
    {% if page.url == /2019/08/09/php-error_reporting-all.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-errorreporting-all.html />
        {% endif %}
{% if page.url == /2019/08/09/php-pdo-prepare-select.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-pdo-prepare-select.html />
    {% endif %}
    {% if page.url == /2019/08/09/yii2-remove-no-results-found.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-remove-no-results-found.html />
        {% endif %}
{% if page.url == /2019/08/09/yii2-render-without-layout.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-render-without-layout.html />
    {% endif %}
    {% if page.url == /2019/08/10/linux-change-default-editor.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-change-default-editor.html />
        {% endif %}
{% if page.url == /2019/08/10/linux-nano-save.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-nano-save.html />
    {% endif %}
    {% if page.url == /2019/08/10/php-get-current-working-directory.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-get-current-working-directory.html />
        {% endif %}
{% if page.url == /2019/08/10/php-get-file-size.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-get-file-size.html />
    {% endif %}
    {% if page.url == /2019/08/10/sql-foreign-key-example.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/sql-foreign-key-example.html />
        {% endif %}
{% if page.url == /2019/08/10/yii2-array-helper-map.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-array-helper-map.html />
    {% endif %}
    {% if page.url == /2019/08/10/yii2-current-domain.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-current-domain.html />
        {% endif %}
{% if page.url == /2019/08/10/yii2-last-insert-id.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-last-insert-id.html />
    {% endif %}
    {% if page.url == /2019/08/14/git-reset-hard.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/git-reset-hard.html />
        {% endif %}
{% if page.url == /2019/08/14/git-show-diff.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/git-show-diff.html />
    {% endif %}
    {% if page.url == /2019/08/14/jquery-ajax-send.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/jquery-ajax-send.html />
        {% endif %}
{% if page.url == /2019/08/14/redirect-all-requests-to-index.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/redirect-all-requests-to-index.html />
    {% endif %}
    {% if page.url == /2019/08/14/yii2-render-view-in-another-view.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-render-view-in-another-view.html />
        {% endif %}
{% if page.url == /2019/08/15/linux-chown.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/linux-chown.html />
    {% endif %}
    {% if page.url == /2019/08/15/php-array_merge.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-arraymerge.html />
        {% endif %}
{% if page.url == /2019/08/15/php-change-file-permissions.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-change-file-permissions.html />
    {% endif %}
    {% if page.url == /2019/08/15/php-chgrp.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-chgrp.html />
        {% endif %}
{% if page.url == /2019/08/15/php-chmod.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-chmod.html />
    {% endif %}
    {% if page.url == /2019/08/15/php-chown.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-chown.html />
        {% endif %}
{% if page.url == /2019/08/16/php-curl.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-curl.html />
    {% endif %}
    {% if page.url == /2019/08/16/php-header-404.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-header-404.html />
        {% endif %}
{% if page.url == /2019/08/16/php-ping-ip-or-domain.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-ping-ip-or-domain.html />
    {% endif %}
    {% if page.url == /2019/08/16/php-recursive-mkdir.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-recursive-mkdir.html />
        {% endif %}
{% if page.url == /2019/08/16/php-strpos-example.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-strpos-example.html />
    {% endif %}
    {% if page.url == /2019/08/19/mysqli_connect-example.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/mysqliconnect-example.html />
        {% endif %}
{% if page.url == /2019/08/19/php-exec-example.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-exec-example.html />
    {% endif %}
    {% if page.url == /2019/08/19/php-fopen-example.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-fopen-example.html />
        {% endif %}
{% if page.url == /2019/08/19/php-preg_match-examples.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-pregmatch-examples.html />
    {% endif %}
    {% if page.url == /2019/08/19/php-preg_replace-examples.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-pregreplace-examples.html />
        {% endif %}
{% if page.url == /2019/08/20/mysql-select-query-example.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/mysql-select-query-example.html />
    {% endif %}
    {% if page.url == /2019/08/20/php-json-decode-example.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-json-decode-example.html />
        {% endif %}
{% if page.url == /2019/08/20/php-send-email-example.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-send-email-example.html />
    {% endif %}
    {% if page.url == /2019/08/20/php-send-mail-using-gmail-smtp.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-send-mail-using-gmail-smtp.html />
        {% endif %}
{% if page.url == /2019/08/20/php-urlencode-urldecode-example.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-urlencode-urldecode-example.html />
    {% endif %}
    {% if page.url == /2019/08/24/php-move_uploaded_file-example.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-moveuploadedfile-example.html />
        {% endif %}
{% if page.url == /2019/08/24/php-send-email-with-attachment-example.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-send-email-with-attachment-example.html />
    {% endif %}
    {% if page.url == /2019/08/24/php-usort-example.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-usort-example.html />
        {% endif %}
{% if page.url == /2019/08/25/difference-between-git-fetch-and-git-pull.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/difference-between-git-fetch-and-git-pull.html />
    {% endif %}
    {% if page.url == /2019/08/25/php-config-file-location.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-config-file-location.html />
        {% endif %}
{% if page.url == /2019/08/25/php-scandir-example.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-scandir-example.html />
    {% endif %}
    {% if page.url == /2019/08/25/php-xpath-query-examples.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-xpath-query-examples.html />
        {% endif %}
{% if page.url == /2019/08/27/php-file_put_contents-example.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-fileputcontents-example.html />
    {% endif %}
    {% if page.url == /2019/08/27/php-hashing-example-sha256-sha1-md5.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-hashing-example-sha256-sha1-md5.html />
        {% endif %}
{% if page.url == /2019/08/27/php-ob_start-example.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-obstart-example.html />
    {% endif %}
    {% if page.url == /2019/08/27/php-recursive-function-example.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-recursive-function-example.html />
        {% endif %}
{% if page.url == /2019/08/27/php-str_replace-example.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-strreplace-example.html />
    {% endif %}
    {% if page.url == /2019/08/29/php-file_get_contents-example.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-filegetcontents-example.html />
        {% endif %}
{% if page.url == /2019/08/29/php-spl_autoload_register-example.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-splautoloadregister-example.html />
    {% endif %}
    {% if page.url == /2019/08/29/php-strtotime-examples.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-strtotime-examples.html />
        {% endif %}
{% if page.url == /2019/08/30/yii2-activeform.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-activeform.html />
    {% endif %}
    {% if page.url == /2019/08/30/yii2-andfilterwhere.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-andfilterwhere.html />
        {% endif %}
{% if page.url == /2019/08/30/yii2-migration-foreign-key.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/yii2-migration-foreign-key.html />
    {% endif %}
    {% if page.url == /2019/09/01/get-current-date-add-years-add-months-add-days.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/get-current-date-add-years-add-months-add-days.html />
        {% endif %}
{% if page.url == /2019/09/01/php-round.html %}
        <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-round.html />
    {% endif %}
    {% if page.url == /2019/09/01/php-round-up-round-down-example.html %}
    <link rel="canonical" href="https://shifunotes.blogspot.com/2020/09/php-round-up-round-down-example.html />
        {% endif %}


</head>

<body>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px;">
        <a class="navbar-brand" href="{{ site.baseurl }}">My notes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div style="padding: 0 15px;">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
</body>
</html>